.button
  min-width: 120px
  padding: 10px 15px
  border: none
  border-radius: 10px
  background-color: $dark
  color: $white
  font-size: 16px
  transition: 0.3s
  cursor: pointer
  &:hover
    opacity: 0.7
  &:active
    opacity: 0.5
