.customer
  display: flex
  flex-direction: column
  padding: 20px
  gap: 20px
  &__order-status
    max-width: 80%
    white-space: nowrap
  &__item-wrapper
    display: flex
    flex-direction: column
    gap: 10px
  &__item-label
    font-size: 18px
    font-weight: 300
