.order-product
  display: grid
  padding: 10px 20px
  grid-template-columns: 60px minmax(150px, 1.5fr) minmax(100px, 1fr) minmax(40px, 1fr) minmax(40px, 0.8fr) minmax(60px, 0.8fr) 94px
  align-items: center
  counter-increment: product-counter
  @media (max-width: $tablet-width)
    // grid-template-columns: 50px 2fr repeat(5, minmax(60px, 120px))
    width: max-content
    padding: 4px 8px
    grid-template-columns: 60px minmax(180px, 1.5fr) repeat(5, minmax(60px, 120px))

  &:not(:nth-last-child(1))
    border-bottom: 1px solid $border-gray
  &::before
    content: counter(product-counter, decimal-leading-zero)
    font-size: clamp(8px, 16px, 24px)

  &__name-container
    display: flex
    align-items: center
    gap: 15px

  &__name-wrapper
    display: flex
    flex-direction: column

  &__id
    color: $id-gray
  &__name
    font-size: clamp(8px, 14px, 20px)
    font-weight: 500
