.page
  display: flex
  min-height: calc(100vh - 67px)
  flex-direction: column
  gap: 30px

  &_logo
    display: flex
    flex-direction: row
    align-items: center
    gap: 6px

  &_content
    display: flex
    flex-direction: row
    flex-grow: 1
    gap: 30px

    @media (max-width: $mobile-width)
      gap: 16px
