.products
  &__search-wrapper
    display: flex
    // align-items: center
    align-items: flex-start
    gap: 60px
    @media(max-width: $mobile-width)
      flex-direction: column
      gap:12px

  &__input-icon
    left: 10px
  &__input-field
    background-color: $white
    padding-left: 36px
