.profile
  display: flex
  flex-direction: column
  gap: 40px
  @media (max-width: $mobile-width)
    gap: 16px
  &__wrapper
    background-color: $white
  &__title
    font-size: clamp(1rem, 0.674rem + 1.3725vw, 1.875rem)
  &__form
    display: grid
    grid-template-columns: repeat(2, minmax(200px, 430px))
    gap: 12px
    @media (max-width: 768px)
      grid-template-columns: 1fr
  &__image-wrapper
    display: flex
    flex-direction: column
    grid-column: 1 / 3
    gap: 16px
    @media (max-width: $mobile-width)
      grid-column: 1 / 2
    & div
      display: flex
      align-items: center
      gap: 24px
      @media (max-width: $mobile-width)
        flex-direction: column
  &__image-btn
    position: relative
    overflow: hidden
    &::after
      position: absolute
      top: 10px
      left: -25px
      display: block
      width: 20px
      height: 20px
      background-image: url("../../assets/img/icons/upload.svg")
      transition: 0.3s
      content: ''
    &:hover
      padding-left: 45px
      &::after
        left: 15px
  &__buttons
    display: flex
    gap: 16px
  &__password-wrapper
    display: flex
    flex-direction: column
    gap: 12px
