.table
  position: relative
  min-width: 0
  &__scroll
    overflow-x: auto
    @media (max-width: $tablet-width)
      width: max-content
      padding-bottom: 48px

  &__line
    display: grid
    grid-template-columns: 60px minmax(100px, 1.5fr) minmax(180px, 2.5fr) minmax(40px, 1fr) minmax(40px, 1fr) minmax(30px, 0.8fr) minmax(90px, 0.8fr) minmax(140px, 180px)
    padding: 20px 15px
    justify-content: flex-start
    gap: 12px
    align-items: center
    border-bottom: 1px solid $border-gray
    transition: 0.3s
    cursor: pointer
    &:not(.table__header):hover
      background-color: $medium-gray
    & > *
      min-width: 0
    @media (max-width: $tablet-width)
      padding: 10px 8px
  &__header
    border-bottom: 1px solid $black-opacity
    @media (max-width: $tablet-width)
      padding: 20px 8px
  &__checkbox-wrapper
    display: flex
    gap: 8px
    align-items: center
  &__column
    &-name
      font-size: 16px
      font-weight: 500
      white-space: nowrap
      overflow-wrap: break-word
      overflow: hidden
      text-overflow: ellipsis
    &-number
      border: none
      text-decoration: underline
      font-size: 18px
      font-weight: 500
      background-color: transparent
      color: $orange
      cursor: pointer
      transition: 0.3s
      &:hover
        opacity: 0.6
      &:active
        opacity: 0.3
      &:focus-visible
        outline: none
        color: $black
    &-status
      min-width: 180px
      padding: 10px 0
      font-size: 14px
      font-weight: 500
      text-transform: uppercase
      text-align: center
      border: 1px solid
      border-radius: 5px
      &--created
        color: $orange
        border-color: $orange
      &--shipped
        color: $orange
        border-color: $orange
      &--partial-delivered
        color: $red
        border-color: $red
      &--canceled
        color: $red
        border-color: $red
      &--delivered
        color: $green
        border-color: $green

  &__company-wrapper
    display: flex
    gap: 20px
    align-items: center
