$black: #000000
$dark: #2a2a26
$black-opacity: rgba(0, 0, 0, 0.2)
$green: #00c708
$orange: #ff7f29
$red: #ff0000
$pink: #ff045e
$dark-gray: #828282
$border-gray: #bcbcbc
$medium-gray: #e8e8e8
$id-gray: #d4d4d4
$toggler-gray: #d9d9d9
$light-gray: #f6f6f6
$white: #ffffff

$mobile-width: 520px
$tablet-width: 768px

$light-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1)
$shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1)
$dark-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.3)

@mixin list-reset
  padding: 0
  margin: 0
  list-style: none

@mixin title-mixin
  font-size: 30px
  font-weight: 500

@mixin reset-btn
  border: none
  background-color: transparent

@mixin fixed-big-card
  position: fixed
  top: 90px
  left: 110px
  display: flex
  flex-direction: column
  width: 90%
  height: calc(100% - 120px)
  border-radius: 20px
  background-color: $white
  box-shadow: $dark-shadow
  z-index: 10
  @media(max-width: $tablet-width)
    top: 40px
    left: 20px
    width: calc(100% - 40px)
  @media(max-width: $mobile-width)
    top: 20px
    left: 10px
    width: calc(100% - 20px)
